@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*font-family: 'Roboto', sans-serif;
*/

/*Pink: #FF4E50
Green: #18D4CA
Orange: #FFA710
Purple: #667DF3
Dark Grey (Headings): #444444
Grey: #666666
*/
:root{
    --PinkLima: #FF4E50;
    --GreenLima: #18D4CA;
    --OrangeLima: #FFA710;
    --PurpleLima: #667DF3;
    --DarkGreyLima: #444444;
    --GreyLima: #666666;  
}

/*Landing Page  Styling*/
.landing-page{
    background-image: url('/images/headerBackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px!important;
    height:100vh;
    min-height: 400px;
    
    
}
.dream-ul{
    display: flex;
    justify-content: end;
}
.nav-btn{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    border-color: white;
    border-width: 2px;
    border-radius:20px;
    color: white;
}
#navbarResponsive{
    border-radius:20px;
}
.navbar-collapse{
    border-radius:20px;

}
.nav-item{
    
    padding-right:2rem!important;
    padding-inline-start: 10px;
}
.nav-item a{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    color:whitesmoke!important;
}
.hide-sign-up{
    display: none;
}
.ul-navbar{
    background-color:#444444;
    z-index: 99;
}
.main-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    color: whitesmoke;
    font-weight: 900;
}
.landing-text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.landing-text{
    font-family: 'Montserrat', sans-serif;
    color:whitesmoke;
}
.landing-btn{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    border-color: var(--PinkLima);
    border-width: 2px;
    border-radius:20px;
    background-color: var(--PinkLima);
    color: white;
}
/*=====about us section ===========*/
.partner-image-parent{
    position: relative;
}
.partner-image{
    position: relative;
    top:0;
    left: 0;
    width:100%;
    border-radius: 50%;
}
.partner-svg{
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: white solid 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#svgp1{
    background-color: var(--PinkLima);
}
#svgp2{
    background-color:#18D4CA;
}
#svgp3{
    background-color: #FFA710;
}
#svgp4{
background-color: #667DF3;
}
.partner-name{
    font-family: 'Montserrat', sans-serif;
    color:var(--DarkGreyLima);
    font-weight:bold;
}
.partner-bio{
    color: var(--GreyLima);
    font-family: 'Montserrat', sans-serif;
}
.partner-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partner-btn{
    font-family: 'Montserrat', sans-serif;
    border-color: var(--PinkLima);
    border-width: 2px;
    border-radius:20px;
    color: var(--PinkLima);
}
/*====about section ends =======*/
/*======image gallery section====== */
.gallery-heading{
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color:var(--DarkGreyLima);
    font-weight: bolder;
}
.image-container{
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}
.image-container img{
    width: 100%;
    border-radius: 5px;
    filter: contrast(75%);
}
.image-heading{
    
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:bold;
}
.image-container:hover{
    color:black;
    font-weight: bolder;
}
/* ================image gallery section ends========= */

/*Footer styling*/
.dream-footer{
    font-family: 'Roboto', sans-serif;
}
#footer-line{
    width:100%;
    height:3px;
    background-color:var(--PinkLima);
}
#footer-brand{
    color:var(--PinkLima);
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
}
.footer-heading{
    color:var(--DarkGrey);
    font-family: 'Roboto', sans-serif; 
    font-weight:bold;
}
.footer-list{
    padding-inline-start: 0px;
    list-style-type: none;
}
.footer-list-item a{
    color:var(--GreyLima);
}
#viewlink{
    color:var(--PinkLima);
}
/*Footer styling ends here*/